body {
    background-image: url(images/R.jpg);
}
#box {
    background-color: #cfe6f9;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
    box-shadow: 0 0 10px #999;
}
h3 {
    color: #0066cc;
}
input[type="text"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
}
input[type="submit"] {
    background-color: #0066cc;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
a {
    color: #0066cc;
}
.fa {
    margin-right: 5px;
}